.list_circle {
  .item {
    width: 174px;
    height: 194px;
    background-image: url("../images/circle_blue.png");
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.3em;
    padding-bottom: 10px;
    transition: all 0.2s;
    background-size: 100% 100%;

    &:hover {
      opacity: 0.9;
    }

    a {
      text-decoration: none;
    }

    span {
      position: relative;
      text-align: center;
      display: block;
      color: #000;
    }
  }
  @include mdevice(phone) {
    .row {
      width: 100%;

      > * {
        width: 50%;
        $w: 150px;

        .item {
          width: $w;
          height: 194px / 174px * $w;
        }
      }
    }
  }
}

.page_news {
  padding-top: 6rem;
  background-image: url(../images/news_bottom_bg.png),
    url(../images/news_bg.png), url("../images/news_bg_1.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center bottom, top center, center;
  background-size: auto, auto, cover;

  .title {
    img {
      max-width: 80%;
    }
  }

  .row_01 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    @include mdevice(mobile) {
      display: block;
    }

    img {
      max-width: 100%;
      line-height: 0;
      margin: 0;
    }
  }

  .btn_more {
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    transition: all 0.2s;
    background-image: linear-gradient(#cceffd, #91cff1);

    &:hover {
      opacity: 0.9;
    }

    a {
      display: inline-block;
    }

    img {
      max-width: 90%;
    }
  }
.col_title_news{
  float: left;
}
  .col_select_news {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-end;
    float: right;
    @include mdevice(mobile) {
      margin-top: 1rem;
      float: none;
    }

    .row {
      width: 100%;
    }

    .item_select {
      position: relative;

      .icon_drop {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        background-image: url("../images/icon_dropdown.png");
        background-size: 100%;
        display: inline-block;
        width: 18px;
        height: 18px;
        z-index: 4;
        pointer-events: none;
      }
    }

    .select_news {
      margin-bottom: 2em;
      width: 100%;
      background: none;
      border: none;
      border-bottom: 2px solid #5f5d5e;
      font-size: 1.4rem;
      font-weight: 500;
      color: $site-color-3;
      position: relative;
      padding-bottom: 5px;
    }
  }
}

.page_hoatdong {
  .title {
    img {
      max-width: 80%;
    }
  }

  .section_1 {
    padding-top: 8em;
    padding-bottom: 0;
    background-image: url("../images/hoatdong/section_1_bg_3.png"),
      linear-gradient(#c2e7f8, #fff);
    background-size: 50% auto, auto;
    background-repeat: no-repeat;
    background-position: left bottom;
    font-size: 1.4rem;
    @include mdevice(phone) {
      padding-top: 1em;
    }

    .container {
    }

    .cols1 {
      img {
        max-width: 100%;
      }
    }

    .cols2 {
      @include mdevice(phone) {
        padding-bottom: 2em;
      }
      .title {
        margin: 0;
        padding: 0;

        img {
          max-width: 90%;
        }
      }

      .txt1 {
        background-color: #e9e5e3;
        width: 400px;
        max-width: 100%;
        margin-top: 2em;
        padding-bottom: 1em;

        &__inner {
          padding: 1.5em;
          font-weight: 500;
          position: relative;

          .modal_more{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 5;
            visibility: hidden;

            &.active{
              visibility: visible;
            }

            &__txt1{
                background-image: url("../images/hoatdong/section_1_modal_bg_1.png");
                background-size: 100% 100%;
                padding: 5% 9% 2% 7%;
                img{
                  max-width: 100%;
                  padding-right: 11%;
                }

                &__desc{
                  font-size: 0.9em;
                  text-align: justify;
                }


            }

            &__txt2{
              .my_btn_3{
                position: absolute;
                bottom: 16px;
                right: 0;
              }
            >  img{
                width: 100%;
              }

              .btn_close_modal{
                position: absolute;
                bottom: 0;
                left: 0;
                cursor: pointer;
              }
            }

          }
        }
      }

      .btngr {
        .my_btn {
          &-1 {
            background-color: $site-color-3;
            color: $site-color-2;
          }
        }
      }
    }
  }

  .section_2 {
    background-image: url("../images/hoatdong/section_2_bg.png");
    background-size: cover;
    padding-top: 4em;
    padding-bottom: 4em;
    font-size: 1.4rem;
    @include mdevice(mobile) {
      overflow: hidden;
      padding-bottom: 0;
      padding-top: 0;
      background: none;
    }

    .img_right {
      padding-top: 1em;
      padding-bottom: 1em;
      @include mdevice(mobile) {
        display: none;
      }

      img {
        max-width: 100%;
      }
    }

    .box_txt1 {
      text-align: right;
      @include mdevice(mobile) {
        background-image: url("../images/hoatdong/section_2_bg_mobile_2.png");
        background-size: 100% auto;
        margin-top: -1px;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;


      }

      &__inner {
        text-align: right;
        display: inline-block;
      }

      .btngr {
        text-align: left;

        .my_btn {
          &-1 {
            background-color: $site-color-2;
            color: $site-color-3;
          }
        }
      }

      .txt1 {
        background-color: $site-color-3;
        width: 400px;
        max-width: 100%;
        margin-top: 2em;
        padding-bottom: 1em;
        @include mdevice(phone) {
          width: 100%;
        }

        &__inner {
          padding: 1.5em;
          font-weight: 500;
          text-align: justify;
          color: #fff;
        }
      }

      .title {
        text-align: center;
        margin-top: 6em;
        @include mdevice(phone) {
          margin-top: 0em;
        }

        img {
          max-width: 90%;
        }
      }
    }


  }

  .section_4 {
    position: relative;
    font-size: 1.4rem;
    @include mdevice(mobile) {
      overflow: hidden;
    }


    img {
      max-width: 100%;
    }

    .title {
      @include mdevice(phone) {
        max-width: 70%;
      }
    }

    .txt {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      @include mdevice(mobile) {
        position: relative;
       background-image: url("../images/hoatdong/section_4_bg_mobile.png");
        background-size: 100% 100%;
        padding-top: 2em;
      }
      .title {
        padding: 0;
        margin: 0;
      }

      .txt_desc {
        font-size: 1.1em;
        margin-top: 2em;
        font-weight: 500;
        text-align: justify;
        padding-left: 0.2em;
        padding-right: 0.2em;
      }
    }
  }

  .section_5 {
    background-image: url("../images/hoatdong/section_5_bg.png");
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 4em;
    padding-bottom: 10em;
    font-size: 1.4rem;

    img {
      max-width: 100%;
    }

    .cols1 {
      a {
        text-decoration: none;
        outline: none;

        img {
          transition: all 0.3s;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }

    .cols2 {
      margin-top: 4em;
    }

    .arrow_top {
      position: absolute;
      top: 0;
      width: 80%;
      left: 0;
      @include mdevice(mobile){
        top: -29%;
        left: 10%;
      }
    }

    .list_circle {
      margin-top: 5em;
      @include mdevice(mobile){
        margin-top: 0em;
      }
    }
  }

  .section_3 {
    background-image: url("../images/hoatdong/section_3_bg.jpg");
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 8em;
    padding-bottom: 0;
    font-size: 1.4rem;
    @include mdevice(mobile) {
      overflow: hidden;
      padding-top: 2em;
        background-size: 100% 100%;
          background-position: top center;
            background-image: url("../images/hoatdong/section_3_bg_mobile.png");
    }

    .title {
      padding: 0;
      margin: 0;
      text-align: right;
      margin-top: 20%;
      @include mdevice(mobile) {
        margin-top: 0;
        text-align: center;
      }
    }

    .btngr {
      text-align: right;

      .my_btn {
        &-1 {
          background-color: $site-color-2;
          color: $site-color-3;
        }

        &-2 {
        }
      }
    }

    .cols2 {
      @include mdevice(mobile) {
        padding-left: 10%;
        padding-right: 10%;
      }
      img {
        width: 100%;
        @include mdevice(mobile) {
        //  width: 80%;
        }
      }
      position: relative;

      .txt {
        position: absolute;
        top: 10%;
        left: 13%;
        right: 40%;

        .txt1 {
          font-weight: 500;
          color: $site-color-3;
          margin-bottom: 3em;
          padding-right: 5%;
          text-align: left;
          @include mdevice(mobile) {
            font-size: 0.7em;
            padding-right: 15%;
            padding-left: 15%;
          }
        }
      }
    }
  }
}

.page_intro {
  background-image: url("../images/intro/intro_bg.jpg");
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 5em;

  .title {
    max-width: 90%;
  }

  .section_1 {
    background-image: url("../images/intro/section_1_bg.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 1em;
    font-size: 1.5rem;

    .title {
      padding: 0;
      margin: 0;

      img {
        max-width: 100%;
      }
    }

    .dlf {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      @include mdevice(mobile) {
        display: block;
      }
    }

    &__content {
      border: 1px solid rgba(255, 255, 255, 0.7);
      padding: 4px;
      margin: 0 1em;
      background-color: #c7dbe0;
      @include mdevice(mobile) {
        margin: 0;
      }
    }

    .cols01 {
      &__inner {
        padding: 3em;
        @include mdevice(mobile) {
          padding: 1em;
        }
      }
    }

    .txt1 {
      color: $site-color-3;
      font-size: 1.4em;
      line-height: 1.8;
      font-weight: 700;
      margin-bottom: 2em;
    }

    .txt2 {
      font-weight: 500;
      font-size: 1.2em;
      color: $site-color-3;
      text-align: justify;
    }

    .cols02_intro {
      @include mdevice(mobile){
        margin-top: 2em;
      }
      .cols02_intro__inner {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #fff;
      }

      .txt3 {
        background-color: $site-color-2;
        text-align: center;
        margin-top: 20px;
@include mdevice(mobile){
  margin-top: 0;
}
        img {
          max-width: 100%;
        }
      }
    }

    .intro_x {
      position: relative;
      top: -30px;
      left: -90px;
      @include mdevice(mobile) {
        width: 110%;
        //top: 0;
        left: -5%;
        overflow: hidden;
      }

      .img_x {
        pointer-events: none;
        @include mdevice(mobile) {
        >   img {
            max-width: 100%;
          }
        }

        > img{
            transition: all 0.1s;
          &:nth-child(2){
            opacity: 0;
          }
        }
        &:nth-child(n + 2) {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
          opacity: 0;
          transition: all 0.5s;
          > img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }



        .txt{
          position: absolute;
          bottom: 20%;
          right: 20%;
          width: 240px;
          background-color: $site-color-2;
          opacity: 0;
          pointer-events: none;
          transition: all 0.3s;
          >*{
            display: block;
          }
           .txts01{
            padding: 10px;
            color: $site-color-3;
            font-weight: 700;
            font-size: 1.3rem;
          }
          .txts02{
            @include clearfix;
            margin-top: 10px;
            .btn_close{
              padding: 0px;
              padding-top: 10px;
              padding-left: 10px;
              text-transform: uppercase;
            }
            .btn_more{
              float: right;
              color: #fff;
              background: $site-color-3;
              display: -webkit-flex;
              display: -ms-flex;
              display: flex;
              align-items: center;
              padding:0  3px;
              font-size: 1.2rem;
              justify-content: center;
              margin-bottom: 5px;
              text-decoration: none;
              outline: none;

              img{
                margin-left: 2px;
                height: 18px;
              }
            }
          }
        }

        &-4{
          .txt{
            right:-13%;
          }
        }

        &-2{
          .txt{
            right:0%;
          }
        }
        &-3{
          .txt{
            //left:10%;
           right:-13%;
          }
        }

          @include mdevice(mobile){
            .txt{
              right: auto !important;
              top: auto !important;
              left: 0 !important;
              bottom: 0 !important;
            }

          }
        &.active {
          opacity: 1;
          z-index: 6;
          pointer-events: auto;
        }
        &.clicked{
          .txt{
            opacity: 1;
            pointer-events: auto;
          }
          > img{
            &:nth-child(1){
              opacity: 0;
            }
            &:nth-child(2){
              opacity: 1;
            }
          }
        }

      }

      .item_hover_intro {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 7;
        pointer-events: none;

        .dot {
          display: inline-block;
          position: absolute;
          font-size: 0;
          width: 40px;
          height: 40px;
          display: inline-block;
          box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
          background-color: $site-color-2;
          border-radius: 50%;
          pointer-events: auto;
           //opacity: 0;
           @include mdevice(mobile){
             margin-top: -5%;
              margin-left: -19%;
           }

          &:hover,
          &.op0 {
             opacity: 0;
            width: 100px;
            height: 100px;
            margin-top: -30px;
            margin-left: -30px;
          }

          &.dothover{
              opacity: 0;
              pointer-events: none;
          }

          .circle {
            display: block;
            border: 1px solid rgba(255, 255, 255, 1);
            width: 60px;
            height: 60px;
            position: absolute;
            left: -11px;
            top: -11px;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(255, 255, 255, 1);
            -webkit-animation: Ani 2s infinite;
            animation: Ani 2s infinite;
          }

          &.x002 {
            top: 47%;
            left: 26%;
          }

          &.x003 {
            top: 27%;
            left: 95%;
            @include mdevice(mobile){
              left: 90%;
            }
          }

          &.x004 {
            top: 65%;
            left: 52%;
          }

          &.x005 {
            top: 21%;
            left: 31%;
            @include mdevice(mobile){
              left: 39%;
            }
          }
        }
      }
    }
  }

  .section_2 {
    padding-top: 8em;
    text-align: center;
    @include mdevice(mobile) {
      padding-top: 2em;
    }

    img {
      max-width: 100%;
    }

    .title {
      padding: 0;
      margin: 0;
      text-align: center;

      img {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        margin-left: 5%;
      }
    }
  }

  .section_3 {
    background-image: url("../images/intro/section_3_bg_2.png");
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 8em;
    padding-bottom: 8em;
    @include mdevice(mobile) {
      margin-top: 6em;
      background-image: url("../images/intro/section_3_bg_mobile.png");
    }

    .list_circle {
      margin-top: -3em;
      @include mdevice(mobile) {
        margin-top: 2em;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .section_4 {
    background-image: url("../images/intro/section_4_bg_2.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-bottom: 8em;

    @include mdevice(mobile){
      background-image:
      url("../images/intro/section_4_bg_mobile_1.png"),
      url("../images/intro/section_4_bg_mobile_2.png"),
       url("../images/intro/section_4_bg_mobile_3.png");
        background-size: 100% auto,100% auto, 100% 100%;
        background-position: top center, bottom center,0 0;
        padding-bottom: 2em;
    }

    img {
      max-width: 100%;
    }

    .title {
      text-align: right;
      max-width: 100%;
      img{
        max-width: 90%
      }
      margin-top: 0;
      margin-bottom: 0;
      @include mdevice(mobile) {
        margin-left: 8%;
        margin-right: 8%;
      }
    }

    .txt {
      font-weight: 500;
      color: $site-color-3;
      margin-top: 6em;
      font-size: 1.2em;
      margin-right: 19%;
      padding-left: 3%;
      text-align: justify;
      position: relative;
      @include mdevice(mobile) {
        margin-right: 14%;
        margin-left: 14%;
      }
      &:before{
        position: absolute;
        border-radius: 5px;
        height: 100%;
        left: 0;
        width: 5px;
        display: inline-block;
        content: '';
        background-color: $site-color-1;
      }
    }

    .txt2 {
      text-align: center;
      //padding-top: 4em;
      margin-top: -2em;
      font-size: 1.4em;
      color: $site-color-3;
      font-weight: 500;
      @include mdevice(mobile) {
        margin-top: 2em;
        padding-left:8%;
        padding-right: 8%;
        br{
          display: none;
        }
      }

      .txtlgs {
        font-weight: 700;
        font-size: 1.8em;

        span {
          &:nth-child(1) {
            color: #fff;
          }

          &:nth-child(2) {
            color: #76a1e1;
          }

          &:nth-child(3) {
            color: #e2b959;
          }

          &:nth-child(4) {
            color: #929497;
          }
        }
      }
    }

    .txt3 {
      text-align: center;
      margin-top: 2em;
      @include mdevice(mobile){
      margin-left: 16%;
      margin-right: 16%;
      margin-top: 14%;
      }

      img {
        max-width: 100%;


      }
    }

    .btngr_2 {
      text-align: center;
      padding-top: 2em;

      > span {
        display: inline-block;
      }
    }


  }
}
@-webkit-keyframes Ani {
  0% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  70% {
    box-shadow: 0 0 50px rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 60px rgba(255, 255, 255, 0);
    border: 0 solid rgba(255, 255, 255, 0);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes Ani {
  0% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    transform: scale(0);
  }

  70% {
    box-shadow: 0 0 50px rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 60px rgba(255, 255, 255, 0);
    border: 0 solid rgba(255, 255, 255, 0);
    transform: scale(1.5);
  }
}


#section_2_modal_more{
  margin-top: 0;
  background-image: url("../images/hoatdong/section_2_modal_bg.png");
  background-size: 100% 100%;
  padding: 0;
  .tt{
    text-align: center;
    img{
      max-width: 80%
    }
  }

  .section_2_modal_more_inner{

&__txt{
  background-image: url("../images/hoatdong/section_2_modal_txt_bg.png");
  background-size: 100% 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;

}
  }

  .item{
    .txt_desc{
      color: #fff;
      padding: 10% 0;
    }
  .row > * >  img{
      max-width: 100%;
      height: 200px
    }
  }

  .btn_close_modal_section_2{
    position: absolute;
    top: 5%;
    right: 2%;
    z-index: 5;
    cursor: pointer;
  }

  .posr{
    position: relative;
  }
  .my_btn_3{
    position: absolute;
    bottom: 10px;
    right: -20px;
  }
}
#section_3_modal_more{
  margin-top: 0;
  padding: 0;
  background-image: url("../images/hoatdong/section_3_bg.jpg");
  background-size: 100% 100%;

  .img{
    max-width: 100%
  }

  .section_3_modal_more__inner{
    padding-left: 5%;
    padding-right: 5%;
  }
.txt_desc{
  position: absolute;
  top: 50%;
  width: 46%;
  left: 6%;
  color: $site-color-3;


  @include mdevice(mobile){
    top: 50%;
    width: 31%;
    left: 16%;
    color: #00559D;
  }

}

.posr{
  position: relative;
}
  .tt{
    position: relative;
    margin-top:  70%;

    @include mdevice(mobile){
      margin-top: 5%;
    }
    img{
      max-width: 90%
    }
  }

  .btn_close_modal_section_3{
    position: absolute;
    bottom: 16%;
    left: 3%;
    cursor: pointer;
  }
}
