.frm_search{
  position: relative;
  &__inner{
    position: absolute;
    top: 12px;
    left: 20px;
    right: 20px;
    @include mdevice(mobile){
      top: 0;
      left: 0px;

      img{
        max-height: 50px
      }
    }

  }
  .input_search{
 width: 100%;
 padding-top: 5px;
 padding-bottom: 5px;
 background: none;
 border: none;
 padding-left: 40px;
 font-size: 1.6rem;
  }
  .btn_search{
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  display: inline-block;
  background: none;
  border: none;
  }
}
