// media screen
$xl: 1200px;
$lg: 1024px;
$md: 768px;

// container max width
$maxWidthContent:1200px;
// content page
$widthMenu: 300px;
$heightHeader: 64px;
// color
$site-color-1: #4bbfd6;
$site-color-2: #000;
$site-color-3: #3A95BC;



@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700');

$font1: 'Roboto', sans-serif;

$colorValues: ( yellow : #FFC108, green: #28A745, blue: #18A2B9, pink: #DC3545);
