@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=vietnamese");
.ttu {
  text-transform: uppercase; }

.tac {
  text-align: center; }

* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: auto; }

body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: auto;
  font-size: 14px;
  font-family: arial; }

body, html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%; }

.p-header {
  background-size: 100% auto;
  position: relative;
  z-index: 9;
  padding: 0; }
  .isMobile .p-header {
    padding: 0;
    background-image: none;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9;
    max-width: 100vw; }
  .p-header .navbar {
    border-radius: 0;
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 0;
    background-color: transparent;
    position: relative; }
  .p-header .navbar-toggle {
    border: none;
    background: none !important; }
  .isMobile .p-header .navbar-right {
    position: absolute;
    top: 0;
    left: 52%;
    width: 40%;
    right: 50%; }
    .isMobile .p-header .navbar-right img {
      max-width: 100%;
      max-height: 42px; }
  .p-header .navbar-brand {
    height: auto;
    padding: 0;
    margin-left: 0 !important;
    position: relative; }
    .p-header .navbar-brand img {
      max-width: 100%;
      max-height: 80px; }
    .isMobile .p-header .navbar-brand img {
      height: 50px;
      margin-top: 5px;
      margin-left: 5px; }
    .p-header .navbar-brand .logo_at {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      margin-top: 8px; }
      .isMobile .p-header .navbar-brand .logo_at {
        top: auto;
        bottom: -20px; }
      .p-header .navbar-brand .logo_at img {
        height: auto !important; }
  .p-header .navbar-nav {
    padding-top: 0.3rem;
    float: right; }
    .isMobile .p-header .navbar-nav {
      padding: 0; }
  .isMobile .p-header #navbar .nav > li {
    text-align: right; }
  .p-header .nav > li > a {
    padding: 0 5px;
    font-size: 1em;
    text-align: right; }
    .isMobile .p-header .nav > li > a {
      display: inline-block;
      padding-left: 1em; }
    .p-header .nav > li > a span.sp1 {
      display: inline-block;
      position: relative; }
    .p-header .nav > li > a span.sp2 {
      opacity: 0;
      padding-top: 8px;
      position: absolute;
      top: 100%;
      margin-top: 15px;
      right: 10px;
      white-space: nowrap;
      text-transform: lowercase;
      font-size: 1.8rem;
      font-weight: 700;
      color: #00559D;
      border-right: 2px solid #00559D;
      padding-right: 5px;
      line-height: 0.8;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .isMobile .p-header .nav > li > a span.sp2 {
        position: relative;
        top: auto;
        right: auto;
        opacity: 1;
        float: left;
        border-right: none;
        color: #FDD602; }
    .p-header .nav > li > a img {
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .p-header .nav > li > a img:nth-child(2) {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .p-header .nav > li > a:hover img:nth-child(1) {
      opacity: 0; }
    .p-header .nav > li > a:hover img:nth-child(2) {
      opacity: 0.9; }
    .isMobile .p-header .nav > li > a {
      color: #fff;
      padding-right: 2em; }
  .p-header .navbar .navbar-nav > .active > a,
  .p-header .navbar .navbar-nav > .active > a:focus,
  .p-header .navbar .navbar-nav > .active > a:hover {
    background-color: transparent; }
    .p-header .navbar .navbar-nav > .active > a span img:nth-child(1),
    .p-header .navbar .navbar-nav > .active > a:focus span img:nth-child(1),
    .p-header .navbar .navbar-nav > .active > a:hover span img:nth-child(1) {
      opacity: 0; }
    .p-header .navbar .navbar-nav > .active > a span img:nth-child(2),
    .p-header .navbar .navbar-nav > .active > a:focus span img:nth-child(2),
    .p-header .navbar .navbar-nav > .active > a:hover span img:nth-child(2) {
      opacity: 1; }
  .p-header .navbar .navbar-nav > li:hover > a {
    background-color: transparent;
    color: #6AB5E4; }
    .p-header .navbar .navbar-nav > li:hover > a span.sp2 {
      opacity: 1; }
    .p-header .navbar .navbar-nav > li:hover > a span img:nth-child(1) {
      opacity: 0; }
    .p-header .navbar .navbar-nav > li:hover > a span img:nth-child(2) {
      opacity: 1; }
  .p-header .navbar-default .navbar-nav > .open > a,
  .p-header .navbar-default .navbar-nav > .open > a:focus,
  .p-header .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent; }

.isMobile .p-content {
  padding-top: 55px; }

.isMobile #navbar {
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;
  width: 70%;
  margin-right: 0;
  margin-left: 0;
  height: calc(100vh - 50px) !important;
  opacity: 0;
  left: 100%;
  display: block !important;
  margin-top: 0; }

#navbar.collapse.in {
  opacity: 1;
  left: 30%; }

.sticky {
  width: 100%;
  z-index: 9; }
  .sticky .nav.navbar-nav,
  .sticky .navbar-brand img {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .sticky li.active a {
    color: #6AB5E4; }
  .sticky.is-sticky {
    background-color: rgba(255, 255, 255, 0.96); }
    .sticky.is-sticky .navbar-brand img {
      height: 60px; }
    .sticky.is-sticky .nav.navbar-nav {
      padding-top: 0.5em; }

.isMobile .p-header .navbar-header,
.isMobile .p-header .navbar-nav {
  float: none; }

.isMobile .p-header .navbar-nav > li {
  float: none; }

.isMobile .p-header .navbar-toggle {
  display: block;
  margin-right: 0; }

.list_circle a {
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  display: block; }

.list_circle .item {
  width: 174px;
  height: 194px;
  background-image: url("../images/circle_blue.png");
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.3em;
  padding-bottom: 10px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-size: 100% 100%; }
  .list_circle .item:hover {
    opacity: 0.8;
    background-image: url("../images/circle_blue_active.png"); }
  .list_circle .item span {
    position: relative;
    text-align: center;
    display: block;
    color: #000; }

.isPhone .list_circle .row {
  width: 100%; }
  .isPhone .list_circle .row > * {
    width: 50%; }
    .isPhone .list_circle .row > * .item {
      width: 150px;
      height: 167.24138px; }

.page_news {
  padding-top: 6rem;
  background-image: url(../images/news_bottom_bg.png), url(../images/news_bg.png), url("../images/news_bg_1.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center bottom, top center, center;
  background-size: auto, auto, cover; }
  .page_news .title img {
    max-width: 80%; }
  .page_news .row_01 {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .isMobile .page_news .row_01 {
      display: block; }
    .page_news .row_01 img {
      max-width: 100%;
      line-height: 0;
      margin: 0; }
  .page_news .btn_more {
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cceffd), to(#91cff1));
    background-image: -webkit-linear-gradient(#cceffd, #91cff1);
    background-image: -o-linear-gradient(#cceffd, #91cff1);
    background-image: linear-gradient(#cceffd, #91cff1); }
    .page_news .btn_more:hover {
      opacity: 0.9; }
    .page_news .btn_more a {
      display: inline-block; }
    .page_news .btn_more img {
      max-width: 90%; }
  .page_news .col_title_news {
    float: left; }
  .page_news .col_select_news {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    float: right; }
    .isMobile .page_news .col_select_news {
      margin-top: 1rem;
      float: none; }
    .page_news .col_select_news .row {
      width: 100%; }
    .page_news .col_select_news .item_select {
      position: relative; }
      .page_news .col_select_news .item_select .icon_drop {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        background-image: url("../images/icon_dropdown.png");
        background-size: 100%;
        display: inline-block;
        width: 18px;
        height: 18px;
        z-index: 4;
        pointer-events: none; }
    .page_news .col_select_news .select_news {
      margin-bottom: 2em;
      width: 100%;
      background: none;
      border: none;
      border-bottom: 2px solid #5f5d5e;
      font-size: 1.4rem;
      font-weight: 500;
      color: #00559D;
      position: relative;
      padding-bottom: 5px; }

.page_hoatdong .title img {
  max-width: 80%; }

.page_hoatdong .section_1 {
  padding-top: 8em;
  padding-bottom: 0;
  background-image: url("../images/hoatdong/section_1_bg_3.png"), -webkit-gradient(linear, left top, left bottom, from(#c2e7f8), to(#fff));
  background-image: url("../images/hoatdong/section_1_bg_3.png"), -webkit-linear-gradient(#c2e7f8, #fff);
  background-image: url("../images/hoatdong/section_1_bg_3.png"), -o-linear-gradient(#c2e7f8, #fff);
  background-image: url("../images/hoatdong/section_1_bg_3.png"), linear-gradient(#c2e7f8, #fff);
  background-size: 50% auto, auto;
  background-repeat: no-repeat;
  background-position: left bottom;
  font-size: 1.4rem; }
  .isPhone .page_hoatdong .section_1 {
    padding-top: 1em; }
  .page_hoatdong .section_1 #section_1_view_more {
    margin-bottom: 0.4em; }
  .page_hoatdong .section_1 .cols1 img {
    max-width: 100%; }
  .isPhone .page_hoatdong .section_1 .cols2 {
    padding-bottom: 2em; }
  .page_hoatdong .section_1 .cols2 .title {
    margin: 0;
    padding: 0; }
    .page_hoatdong .section_1 .cols2 .title img {
      max-width: 90%; }
  .page_hoatdong .section_1 .cols2 .txt1 {
    background-color: #e9e5e3;
    width: 430px;
    max-width: 100%;
    margin-top: 2em;
    padding-bottom: 1em; }
    .page_hoatdong .section_1 .cols2 .txt1__inner {
      padding: 1.5em;
      font-weight: 500;
      position: relative; }
      .page_hoatdong .section_1 .cols2 .txt1__inner .modal_more {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        visibility: hidden; }
        .page_hoatdong .section_1 .cols2 .txt1__inner .modal_more.active {
          visibility: visible; }
        .page_hoatdong .section_1 .cols2 .txt1__inner .modal_more__txt1 {
          background-image: url("../images/hoatdong/section_1_modal_bg_1.png");
          background-size: 100% 100%;
          padding: 5% 9% 2% 7%; }
          .page_hoatdong .section_1 .cols2 .txt1__inner .modal_more__txt1 img {
            max-width: 100%;
            padding-right: 11%; }
          .page_hoatdong .section_1 .cols2 .txt1__inner .modal_more__txt1__desc {
            font-size: 0.9em;
            text-align: justify; }
        .page_hoatdong .section_1 .cols2 .txt1__inner .modal_more__txt2 .my_btn_3 {
          position: absolute;
          bottom: 16px;
          right: 0; }
        .page_hoatdong .section_1 .cols2 .txt1__inner .modal_more__txt2 > img {
          width: 100%; }
        .page_hoatdong .section_1 .cols2 .txt1__inner .modal_more__txt2 .btn_close_modal {
          position: absolute;
          bottom: 0;
          left: 0;
          cursor: pointer; }
  .page_hoatdong .section_1 .cols2 .btngr .my_btn-1 {
    background-color: #00559D;
    color: #FDD602; }

.page_hoatdong .section_2 {
  background-image: url("../images/hoatdong/section_2_bg.png");
  background-size: cover;
  padding-top: 4em;
  padding-bottom: 4em;
  font-size: 1.4rem; }
  .isMobile .page_hoatdong .section_2 {
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    background: none; }
  .page_hoatdong .section_2 .img_right {
    padding-top: 1em;
    padding-bottom: 1em; }
    .isMobile .page_hoatdong .section_2 .img_right {
      display: none; }
    .page_hoatdong .section_2 .img_right img {
      max-width: 100%; }
  .page_hoatdong .section_2 .box_txt1 {
    text-align: right; }
    .isMobile .page_hoatdong .section_2 .box_txt1 {
      background-image: url("../images/hoatdong/section_2_bg_mobile_2.png");
      background-size: 100% auto;
      margin-top: -1px;
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 5%; }
    .page_hoatdong .section_2 .box_txt1__inner {
      text-align: right;
      display: inline-block; }
    .page_hoatdong .section_2 .box_txt1 .btngr {
      text-align: left; }
      .page_hoatdong .section_2 .box_txt1 .btngr .my_btn-1 {
        background-color: #FDD602;
        color: #00559D; }
    .page_hoatdong .section_2 .box_txt1 .txt1 {
      background-color: #00559D;
      width: 480px;
      max-width: 100%;
      margin-top: 2em;
      padding-bottom: 1em; }
      .isPhone .page_hoatdong .section_2 .box_txt1 .txt1 {
        width: 100%; }
      .page_hoatdong .section_2 .box_txt1 .txt1__inner {
        padding: 1.5em;
        font-weight: 500;
        text-align: justify;
        color: #fff; }
    .page_hoatdong .section_2 .box_txt1 .title {
      text-align: center;
      margin-top: 6em; }
      .isPhone .page_hoatdong .section_2 .box_txt1 .title {
        margin-top: 0em; }
      .page_hoatdong .section_2 .box_txt1 .title img {
        max-width: 90%; }

.page_hoatdong .section_4 {
  position: relative;
  font-size: 1.4rem; }
  .isMobile .page_hoatdong .section_4 {
    overflow: hidden; }
  .page_hoatdong .section_4 img {
    max-width: 100%; }
  .isPhone .page_hoatdong .section_4 .title {
    max-width: 70%; }
  .page_hoatdong .section_4 .txt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .isMobile .page_hoatdong .section_4 .txt {
      position: relative;
      background-image: url("../images/hoatdong/section_4_bg_mobile.png");
      background-size: 100% 100%;
      padding-top: 2em; }
    .page_hoatdong .section_4 .txt .title {
      padding: 0;
      margin: 0; }
    .page_hoatdong .section_4 .txt .txt_desc {
      font-size: 1.1em;
      margin-top: 2em;
      font-weight: 500;
      text-align: justify;
      padding-left: 0.2em;
      padding-right: 0.2em; }

.page_hoatdong .section_5 {
  background-image: url("../images/hoatdong/section_5_bg.png");
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 4em;
  padding-bottom: 10em;
  font-size: 1.4rem; }
  .page_hoatdong .section_5 img {
    max-width: 100%; }
  .page_hoatdong .section_5 .cols1 a {
    text-decoration: none;
    outline: none; }
    .page_hoatdong .section_5 .cols1 a img {
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .page_hoatdong .section_5 .cols1 a img:hover {
        opacity: 0.9; }
  .page_hoatdong .section_5 .cols2 {
    margin-top: 4em; }
  .page_hoatdong .section_5 .arrow_top {
    position: absolute;
    top: 0;
    width: 80%;
    left: 0; }
    .isMobile .page_hoatdong .section_5 .arrow_top {
      top: -29%;
      left: 10%; }
  .page_hoatdong .section_5 .list_circle {
    margin-top: 5em; }
    .isMobile .page_hoatdong .section_5 .list_circle {
      margin-top: 0em; }

.page_hoatdong .section_3 {
  background-image: url("../images/hoatdong/section_3_bg.jpg");
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 8em;
  padding-bottom: 0;
  font-size: 1.4rem; }
  .isMobile .page_hoatdong .section_3 {
    overflow: hidden;
    padding-top: 2em;
    background-size: 100% 100%;
    background-position: top center;
    background-image: url("../images/hoatdong/section_3_bg_mobile.png"); }
  .page_hoatdong .section_3 .title {
    padding: 0;
    margin: 0;
    text-align: right;
    margin-top: 20%; }
    .isMobile .page_hoatdong .section_3 .title {
      margin-top: 0;
      text-align: center; }
  .page_hoatdong .section_3 .btngr {
    text-align: right; }
    .page_hoatdong .section_3 .btngr .my_btn-1 {
      background-color: #FDD602;
      color: #00559D; }
  .page_hoatdong .section_3 .cols2 {
    position: relative; }
    .isMobile .page_hoatdong .section_3 .cols2 {
      padding-left: 10%;
      padding-right: 10%; }
    .page_hoatdong .section_3 .cols2 img {
      width: 100%; }
    .page_hoatdong .section_3 .cols2 .txt {
      position: absolute;
      top: 10%;
      left: 13%;
      right: 40%; }
      .page_hoatdong .section_3 .cols2 .txt .txt1 {
        font-weight: 500;
        color: #00559D;
        margin-bottom: 3em;
        padding-right: 5%;
        text-align: left; }
        .isMobile .page_hoatdong .section_3 .cols2 .txt .txt1 {
          font-size: 0.7em;
          padding-right: 15%;
          padding-left: 15%; }

.page_intro {
  background-image: url("../images/intro/intro_bg.jpg");
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 5em; }
  .page_intro .title {
    max-width: 90%; }
  .page_intro .section_1 {
    background-image: url("../images/intro/section_1_bg.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 1em;
    font-size: 1.5rem; }
    .page_intro .section_1 .title {
      padding: 0;
      margin: 0; }
      .page_intro .section_1 .title img {
        max-width: 100%; }
    .page_intro .section_1 .dlf {
      display: -webkit-flex;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .isMobile .page_intro .section_1 .dlf {
        display: block; }
    .page_intro .section_1__content {
      border: 1px solid rgba(255, 255, 255, 0.7);
      padding: 4px;
      margin: 0 1em;
      background-color: #c7dbe0; }
      .isMobile .page_intro .section_1__content {
        margin: 0; }
    .page_intro .section_1 .cols01__inner {
      padding: 1.5em; }
      .isMobile .page_intro .section_1 .cols01__inner {
        padding: 1em; }
    .page_intro .section_1 .txt1 {
      color: #00559D;
      font-size: 1.3em;
      line-height: 1.7;
      font-weight: 700;
      margin-bottom: 1em;
      padding-right: 1.7em; }
    .page_intro .section_1 .txt2 {
      font-weight: 500;
      font-size: 1.2em;
      color: #00559D;
      text-align: justify; }
    .isMobile .page_intro .section_1 .cols02_intro {
      margin-top: 2em; }
    .page_intro .section_1 .cols02_intro .cols02_intro__inner {
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: #fff; }
    .page_intro .section_1 .cols02_intro .txt3 {
      background-color: #FDD602;
      text-align: center;
      margin-top: 20px; }
      .isMobile .page_intro .section_1 .cols02_intro .txt3 {
        margin-top: 0; }
      .page_intro .section_1 .cols02_intro .txt3 img {
        max-width: 100%; }
    .page_intro .section_1 .intro_x {
      position: relative;
      top: -30px;
      left: -90px; }
      .isMobile .page_intro .section_1 .intro_x {
        width: 110%;
        left: -5%;
        overflow: hidden; }
      .page_intro .section_1 .intro_x .img_x {
        pointer-events: none; }
        .isMobile .page_intro .section_1 .intro_x .img_x > img {
          max-width: 100%; }
        .page_intro .section_1 .intro_x .img_x > img {
          -webkit-transition: all 0.1s;
          -o-transition: all 0.1s;
          transition: all 0.1s; }
          .page_intro .section_1 .intro_x .img_x > img:nth-child(2) {
            opacity: 0; }
        .page_intro .section_1 .intro_x .img_x:nth-child(n + 2) {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
          opacity: 0;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          .page_intro .section_1 .intro_x .img_x:nth-child(n + 2) > img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0; }
        .page_intro .section_1 .intro_x .img_x .txt {
          position: absolute;
          bottom: 20%;
          right: 20%;
          width: 240px;
          background-color: #FDD602;
          opacity: 0;
          pointer-events: none;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
          .page_intro .section_1 .intro_x .img_x .txt > * {
            display: block; }
          .page_intro .section_1 .intro_x .img_x .txt .txts01 {
            padding: 10px;
            color: #00559D;
            font-weight: 700;
            font-size: 1.3rem; }
          .page_intro .section_1 .intro_x .img_x .txt .txts02 {
            margin-top: 10px; }
            .page_intro .section_1 .intro_x .img_x .txt .txts02::after {
              content: "";
              display: block;
              clear: both;
              height: 0;
              overflow: hidden; }
            .page_intro .section_1 .intro_x .img_x .txt .txts02 .btn_close {
              padding: 0px;
              padding-top: 10px;
              padding-left: 0px;
              text-transform: uppercase; }
            .page_intro .section_1 .intro_x .img_x .txt .txts02 .btn_more {
              float: right;
              color: #fff;
              background: #00559D;
              display: -webkit-flex;
              display: -ms-flex;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              padding: 0  3px;
              font-size: 1.2rem;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              margin-bottom: 5px;
              text-decoration: none;
              outline: none; }
              .page_intro .section_1 .intro_x .img_x .txt .txts02 .btn_more img {
                margin-left: 2px;
                height: 18px; }
        .page_intro .section_1 .intro_x .img_x-4 .txt {
          right: -13%; }
        .page_intro .section_1 .intro_x .img_x-2 .txt {
          right: 0%; }
        .page_intro .section_1 .intro_x .img_x-3 .txt {
          right: -13%; }
        .isMobile .page_intro .section_1 .intro_x .img_x .txt {
          right: auto !important;
          top: auto !important;
          left: 0 !important;
          bottom: 0 !important; }
        .page_intro .section_1 .intro_x .img_x.active {
          opacity: 1;
          z-index: 6;
          pointer-events: auto; }
        .page_intro .section_1 .intro_x .img_x.clicked .txt {
          opacity: 1;
          pointer-events: auto; }
        .page_intro .section_1 .intro_x .img_x.clicked > img:nth-child(1) {
          opacity: 0; }
        .page_intro .section_1 .intro_x .img_x.clicked > img:nth-child(2) {
          opacity: 1; }
      .page_intro .section_1 .intro_x .item_hover_intro {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 7;
        pointer-events: none; }
        .page_intro .section_1 .intro_x .item_hover_intro .dot {
          display: inline-block;
          position: absolute;
          font-size: 0;
          width: 40px;
          height: 40px;
          display: inline-block;
          -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
          background-color: #FDD602;
          border-radius: 50%;
          pointer-events: auto; }
          .isMobile .page_intro .section_1 .intro_x .item_hover_intro .dot {
            margin-top: -5%;
            margin-left: -19%; }
          .page_intro .section_1 .intro_x .item_hover_intro .dot:hover, .page_intro .section_1 .intro_x .item_hover_intro .dot.op0 {
            opacity: 0;
            width: 100px;
            height: 100px;
            margin-top: -30px;
            margin-left: -30px; }
          .page_intro .section_1 .intro_x .item_hover_intro .dot.dothover {
            opacity: 0;
            pointer-events: none; }
          .page_intro .section_1 .intro_x .item_hover_intro .dot .circle {
            display: block;
            border: 1px solid white;
            width: 60px;
            height: 60px;
            position: absolute;
            left: -11px;
            top: -11px;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            -webkit-box-shadow: 0 0 10px white;
            box-shadow: 0 0 10px white;
            -webkit-animation: Ani 2s infinite;
            animation: Ani 2s infinite; }
          .page_intro .section_1 .intro_x .item_hover_intro .dot.x002 {
            top: 47%;
            left: 26%; }
          .page_intro .section_1 .intro_x .item_hover_intro .dot.x003 {
            top: 27%;
            left: 95%; }
            .isMobile .page_intro .section_1 .intro_x .item_hover_intro .dot.x003 {
              left: 90%; }
          .page_intro .section_1 .intro_x .item_hover_intro .dot.x004 {
            top: 65%;
            left: 52%; }
          .page_intro .section_1 .intro_x .item_hover_intro .dot.x005 {
            top: 21%;
            left: 31%; }
            .isMobile .page_intro .section_1 .intro_x .item_hover_intro .dot.x005 {
              left: 39%; }
  .page_intro .section_2 {
    padding-top: 8em;
    text-align: center; }
    .isMobile .page_intro .section_2 {
      padding-top: 2em; }
    .page_intro .section_2 img {
      max-width: 100%; }
    .page_intro .section_2 .title {
      padding: 0;
      margin: 0;
      text-align: center; }
      .page_intro .section_2 .title img {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        margin-left: 5%; }
  .page_intro .section_3 {
    background-image: url("../images/intro/section_3_bg_2.png");
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 8em;
    padding-bottom: 8em; }
    .isMobile .page_intro .section_3 {
      margin-top: 6em;
      background-image: url("../images/intro/section_3_bg_mobile.png"); }
    .page_intro .section_3 .list_circle {
      margin-top: -3em; }
      .isMobile .page_intro .section_3 .list_circle {
        margin-top: 2em; }
    .page_intro .section_3 img {
      max-width: 100%; }
  .page_intro .section_4 {
    background-image: url("../images/intro/section_4_bg_2.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-bottom: 8em; }
    .isMobile .page_intro .section_4 {
      background-image: url("../images/intro/section_4_bg_mobile_1.png"), url("../images/intro/section_4_bg_mobile_2.png"), url("../images/intro/section_4_bg_mobile_3.png");
      background-size: 100% auto,100% auto, 100% 100%;
      background-position: top center, bottom center,0 0;
      padding-bottom: 2em; }
    .page_intro .section_4 img {
      max-width: 100%; }
    .page_intro .section_4 .title {
      text-align: right;
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 0; }
      .page_intro .section_4 .title img {
        max-width: 90%; }
      .isMobile .page_intro .section_4 .title {
        margin-left: 8%;
        margin-right: 8%; }
    .page_intro .section_4 .txt {
      font-weight: 500;
      color: #00559D;
      margin-top: 1em;
      font-size: 1.2em;
      margin-right: 5%;
      padding-left: 3%;
      text-align: justify;
      position: relative; }
      .isMobile .page_intro .section_4 .txt {
        margin-right: 14%;
        margin-left: 14%; }
      .page_intro .section_4 .txt:before {
        position: absolute;
        border-radius: 5px;
        height: 100%;
        left: 0;
        width: 5px;
        display: inline-block;
        content: '';
        background-color: #6AB5E4; }
    .page_intro .section_4 .txt2 {
      text-align: center;
      margin-top: 2em;
      font-size: 1.4em;
      color: #00559D;
      font-weight: 500; }
      .isMobile .page_intro .section_4 .txt2 {
        margin-top: 2em;
        padding-left: 8%;
        padding-right: 8%; }
        .isMobile .page_intro .section_4 .txt2 br {
          display: none; }
      .page_intro .section_4 .txt2 .txtlgs {
        font-weight: 700;
        font-size: 1.8em; }
        .page_intro .section_4 .txt2 .txtlgs span:nth-child(1) {
          color: #fff; }
        .page_intro .section_4 .txt2 .txtlgs span:nth-child(2) {
          color: #76a1e1; }
        .page_intro .section_4 .txt2 .txtlgs span:nth-child(3) {
          color: #e2b959; }
        .page_intro .section_4 .txt2 .txtlgs span:nth-child(4) {
          color: #929497; }
    .page_intro .section_4 .txt3 {
      text-align: center;
      margin-top: 2em; }
      .isMobile .page_intro .section_4 .txt3 {
        margin-left: 16%;
        margin-right: 16%;
        margin-top: 14%; }
      .page_intro .section_4 .txt3 img {
        max-width: 100%; }
    .page_intro .section_4 .btngr_2 {
      text-align: center;
      padding-top: 2em; }
      .page_intro .section_4 .btngr_2 > span {
        display: inline-block; }

@-webkit-keyframes Ani {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  70% {
    -webkit-box-shadow: 0 0 50px white;
    box-shadow: 0 0 50px white;
    border: 1px solid white;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-box-shadow: 0 0 60px rgba(255, 255, 255, 0);
    box-shadow: 0 0 60px rgba(255, 255, 255, 0);
    border: 0 solid rgba(255, 255, 255, 0);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

@keyframes Ani {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  70% {
    -webkit-box-shadow: 0 0 50px white;
    box-shadow: 0 0 50px white;
    border: 1px solid white;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-box-shadow: 0 0 60px rgba(255, 255, 255, 0);
    box-shadow: 0 0 60px rgba(255, 255, 255, 0);
    border: 0 solid rgba(255, 255, 255, 0);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

#section_2_modal_more {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("../images/hoatdong/section_2_modal_bg.png");
  background-size: 100% 100%;
  padding: 0; }
  #section_2_modal_more .tt {
    text-align: center; }
    #section_2_modal_more .tt img {
      max-width: 80%; }
  #section_2_modal_more .section_2_modal_more_inner__txt {
    background-image: url("../images/hoatdong/section_2_modal_txt_bg.png");
    background-size: 100% 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    position: relative; }
  #section_2_modal_more .item .txt_desc {
    color: #fff;
    padding: 2% 0;
    font-size: 1.3rem; }
  #section_2_modal_more .item .row > * > img {
    max-width: 100%;
    height: 248px; }
  #section_2_modal_more .btn_close_modal_section_2 {
    position: absolute;
    top: 5%;
    right: 2%;
    z-index: 5;
    cursor: pointer; }
  #section_2_modal_more .posr {
    position: relative; }
  #section_2_modal_more .my_btn_3 {
    position: absolute;
    bottom: 10px;
    right: -20px; }

#section_3_modal_more {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background-image: url("../images/hoatdong/section_3_bg.jpg");
  background-size: 100% 100%; }
  #section_3_modal_more .img {
    max-width: 100%; }
  #section_3_modal_more .section_3_modal_more__inner {
    padding-left: 5%;
    padding-right: 5%; }
  #section_3_modal_more .txt_desc {
    position: absolute;
    top: 50%;
    width: 46%;
    left: 6%;
    color: #00559D; }
    .isMobile #section_3_modal_more .txt_desc {
      top: 50%;
      width: 31%;
      left: 16%;
      color: #00559D; }
  #section_3_modal_more .posr {
    position: relative; }
  #section_3_modal_more .tt {
    position: relative;
    margin-top: 70%; }
    .isMobile #section_3_modal_more .tt {
      margin-top: 5%; }
    #section_3_modal_more .tt img {
      max-width: 90%; }
  #section_3_modal_more .btn_close_modal_section_3 {
    position: absolute;
    bottom: 16%;
    left: 3%;
    cursor: pointer; }

.frm_search {
  position: relative; }
  .frm_search__inner {
    position: absolute;
    top: 12px;
    left: 20px;
    right: 20px; }
    .isMobile .frm_search__inner {
      top: 0;
      left: 0px; }
      .isMobile .frm_search__inner img {
        max-height: 50px; }
  .frm_search .input_search {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: none;
    border: none;
    padding-left: 40px;
    font-size: 1.6rem; }
  .frm_search .btn_search {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    display: inline-block;
    background: none;
    border: none; }

.nav-tabs {
  border-bottom: none;
  font-size: 1.1em;
  width: auto;
  min-width: 50%;
  padding-left: 2%;
  float: right; }
  .isMobile .nav-tabs {
    font-size: 0.9em;
    padding-left: 0; }
  .isMobile .nav-tabs {
    float: none;
    width: 100%; }
  .nav-tabs li + li:before {
    content: '|';
    display: inline-block;
    color: #eee;
    float: left;
    margin-top: 12px;
    opacity: .8; }
    .isMobile .nav-tabs li + li:before {
      margin-top: 9px; }
  .nav-tabs li a {
    border: none !important;
    color: #fff;
    background-color: transparent !important;
    font-size: 1.2em;
    padding-left: 8px;
    padding-right: 8px; }
    .isMobile .nav-tabs li a {
      padding-left: 6px;
      padding-right: 6px;
      font-size: 1em; }
    .nav-tabs li a:focus {
      color: #fff; }
  .nav-tabs li:first-child a {
    padding-left: 0; }
  .nav-tabs li.active a {
    color: #6AB5E4 !important; }

.owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -15px;
  pointer-events: none;
  opacity: .8; }
  .owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: -16px;
    width: 40px;
    height: 40px;
    background-image: url(../images/next.png);
    background-size: 100% 100%;
    font-size: 0;
    pointer-events: auto; }
  .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: -16px;
    width: 40px;
    height: 40px;
    background-image: url(../images/prev.png);
    background-size: 100% 100%;
    font-size: 0;
    pointer-events: auto; }
  .isMobile .owl-carousel .owl-nav .owl-prev, .isMobile .owl-carousel .owl-nav .owl-next {
    width: 40px;
    height: 40px; }

.my_btn_3 {
  display: inline-block;
  background-color: #FDD602;
  color: #00559D;
  padding: 0.3em 1.3em;
  font-size: 1.4em;
  text-transform: lowercase;
  text-decoration: none;
  outline: none;
  text-align: left;
  font-weight: 500;
  text-decoration: none !important;
  cursor: pointer; }
  .my_btn_3__inner {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left; }
  .my_btn_3 img {
    height: 25px;
    margin-left: 10px; }

body {
  font-family: 'Quicksand', sans-serif; }

@media (min-width: 1400px) {
  .container {
    max-width: 1366px; } }

.container.container_s {
  max-width: 1100px; }

@media (max-width: 1400px) {
  .container_s2 {
    max-width: 800px; } }

.title_page {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 1.3em;
  margin-bottom: 1.3em; }
  .title_page img {
    max-width: 100%; }
  .isMobile .title_page {
    margin: 0.7em 0.5em; }

.btngr {
  font-size: 1.4rem; }
  .btngr::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden; }
  .btngr .my_btn {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer; }
    .btngr .my_btn:hover {
      opacity: 0.8; }
    .btngr .my_btn-1 {
      background-color: #6AB5E4;
      color: #fff;
      padding: 0.5em 0.7em;
      font-size: 1.3em;
      font-weight: 500;
      -webkit-box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.2); }
    .btngr .my_btn-2 {
      background-color: #FDD602;
      padding: 0;
      color: #00559D;
      text-transform: uppercase;
      line-height: 1.1;
      float: right;
      font-weight: bold;
      font-size: 1.8em; }
      .btngr .my_btn-2 .inner {
        display: -webkit-flex;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .btngr .my_btn-2 .inner span:last-child {
          padding-left: 0.2em; }
          .btngr .my_btn-2 .inner span:last-child img {
            max-height: 80%; }
  .isMobile .btngr .btngr {
    padding-bottom: 0.5em; }
    .isMobile .btngr .btngr .my_btn-1 {
      font-size: 1rem; }
    .isMobile .btngr .btngr .my_btn-2 {
      font-size: 2rem; }
      .isMobile .btngr .btngr .my_btn-2 img {
        max-width: 80%; }

.section_home_1 {
  position: relative; }
  .section_home_1 img {
    max-width: 100%; }
  .section_home_1 .slider_b {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .isMobile .section_home_1 .slider_b {
      position: relative;
      margin-top: 0em;
      margin-bottom: 1em;
      background-image: url("../images/home/section_1_bg_mobile_2.jpg"), url("../images/home/section_1_bg_mobile_3.jpg");
      background-position: center top, center bottom;
      background-size: 100% auto,  100% auto;
      background-repeat: no-repeat, repeat-y; }
    .section_home_1 .slider_b__content {
      margin-bottom: 3em;
      margin-left: auto;
      margin-right: auto; }
      .isMobile .section_home_1 .slider_b__content {
        margin-bottom: 0; }
      .section_home_1 .slider_b__content .list .item {
        display: -webkit-flex;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12);
        box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12); }
        .section_home_1 .slider_b__content .list .item::after {
          content: "";
          display: block;
          clear: both;
          height: 0;
          overflow: hidden; }
        .section_home_1 .slider_b__content .list .item__txt {
          color: #fff;
          font-size: 1.7rem;
          padding: 2.5rem;
          text-align: justify; }
        .section_home_1 .slider_b__content .list .item__img img {
          width: 100%; }
        .section_home_1 .slider_b__content .list .item .colx {
          float: left; }
          .section_home_1 .slider_b__content .list .item .colx-1 {
            min-width: 58%; }
          .section_home_1 .slider_b__content .list .item .colx-2 {
            min-width: 42%;
            background-color: #BABABA; }
        .isMobile .section_home_1 .slider_b__content .list .item {
          display: block; }
          .isMobile .section_home_1 .slider_b__content .list .item .colx {
            float: none; }
            .isMobile .section_home_1 .slider_b__content .list .item .colx-1 {
              width: 100%; }
            .isMobile .section_home_1 .slider_b__content .list .item .colx-2 {
              width: 100%; }
    @media (max-width: 1366px) {
      .section_home_1 .slider_b .container_s {
        max-width: 70%; }
        .section_home_1 .slider_b .container_s .slider_b__content {
          margin-bottom: 1.5em; }
          .section_home_1 .slider_b .container_s .slider_b__content .list .item__txt {
            font-size: 1.43rem;
            padding: 1.5em 1.2em; } }
    .isMobile .section_home_1 .slider_b .container_s {
      max-width: 100%; }

.section_home_2 .list {
  border-bottom: 1px solid #C8C8C9; }
  .section_home_2 .list::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden; }
  .isMobile .section_home_2 .list {
    border-bottom: 0; }
  .section_home_2 .list .item {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    margin-bottom: 30px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .isMobile .section_home_2 .list .item {
      margin-left: 30px;
      margin-right: 30px; }
    .section_home_2 .list .item:hover {
      -webkit-box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12);
      box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12);
      opacity: 0.96; }
    .section_home_2 .list .item img {
      width: 100%; }
    .isMobile .section_home_2 .list .item.more {
      display: none; }
    .section_home_2 .list .item.more .op0 {
      opacity: 0; }
    .section_home_2 .list .item > * {
      padding: 0;
      margin: 0; }

.section_home_3 .container {
  position: relative; }
  .isPhone .section_home_3 .container .link_l_r {
    display: none; }
  .section_home_3 .container .link_l_r > * {
    height: 690px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    margin-top: -300px;
    width: 50%;
    cursor: pointer; }
    .section_home_3 .container .link_l_r > * img {
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .section_home_3 .container .link_l_r > *:hover img {
      opacity: 0.98;
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95); }
  .section_home_3 .container .link_l_r .link_left {
    right: 100%;
    background-color: #EEF7FC;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .section_home_3 .container .link_l_r .link_left img {
      position: relative;
      top: -150px;
      right: 20px; }
      @media (max-width: 1366px) {
        .section_home_3 .container .link_l_r .link_left img {
          width: 160px; } }
  .section_home_3 .container .link_l_r .link_right {
    left: 100%;
    background-color: #51C7EE;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .section_home_3 .container .link_l_r .link_right img {
      position: relative;
      top: -150px;
      left: 20px; }
      @media (max-width: 1366px) {
        .section_home_3 .container .link_l_r .link_right img {
          width: 360px; } }

.isTablet .container_s2 {
  width: 480px; }

.list_news::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden; }

.list_news .item {
  width: 33.3333%;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  margin-bottom: 1px;
  float: left;
  background-color: #fff;
  position: relative; }
  .list_news .item::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden; }
  .isMobile .list_news .item {
    width: 50%; }
  .list_news .item__inner::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden; }
  .list_news .item .img_op0 {
    opacity: 0;
    width: 100%; }
  .list_news .item__img img {
    width: 100%; }
  .list_news .item__link {
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 2px; }
    .isPhone .list_news .item__link {
      bottom: 5px; }
    .list_news .item__link a {
      padding: 8px 24px;
      display: inline-block;
      background: #E6E7E8;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .list_news .item__link a:hover {
        -webkit-box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12);
        box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12); }
    .list_news .item__link img {
      height: 30px; }
      .isPhone .list_news .item__link img {
        height: 20px; }
  .list_news .item__txt {
    padding: 24px; }
    .isPhone .list_news .item__txt {
      padding: 12px;
      padding-bottom: 50px; }
    .list_news .item__txt .date {
      margin-bottom: 1em; }
      .isPhone .list_news .item__txt .date {
        margin-bottom: 8px; }
    .list_news .item__txt .h2 {
      font-weight: 700;
      color: #00559D;
      font-size: 1.3em;
      padding: 0;
      margin: 0 0 1em; }
      .isPhone .list_news .item__txt .h2 {
        font-size: 0.9em; }
    .list_news .item__txt .desc {
      text-align: justify; }
      .isPhone .list_news .item__txt .desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        -o-text-overflow: '...';
        text-overflow: '...';
        font-size: 0.9em; }
  .list_news .item.item_lg, .list_news .item:nth-child(1) {
    width: 66.666666%; }
    .isMobile .list_news .item.item_lg, .isMobile .list_news .item:nth-child(1) {
      width: 100%; }
    .list_news .item.item_lg .item__img, .list_news .item:nth-child(1) .item__img {
      width: 50%;
      float: left; }
    .list_news .item.item_lg .item__txt, .list_news .item:nth-child(1) .item__txt {
      width: 50%;
      float: left; }
      .list_news .item.item_lg .item__txt .date, .list_news .item:nth-child(1) .item__txt .date {
        margin-bottom: 2em; }
        .isMobile .list_news .item.item_lg .item__txt .date, .isMobile .list_news .item:nth-child(1) .item__txt .date {
          margin-bottom: 8px; }
      .list_news .item.item_lg .item__txt .h2, .list_news .item:nth-child(1) .item__txt .h2 {
        font-size: 2em;
        margin-bottom: 2em; }
        .isMobile .list_news .item.item_lg .item__txt .h2, .isMobile .list_news .item:nth-child(1) .item__txt .h2 {
          font-size: 0.9em; }
  .list_news .item:hover {
    background: #D6D6D6; }
    .list_news .item:hover .item__link a {
      background: #FDD602 !important; }
  .isPhone .list_news .item .link_left {
    background-color: #EEF7FC;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .isPhone .list_news .item .link_left img {
      width: 90%; }
  .isPhone .list_news .item .link_right:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0%;
    top: 30%;
    background-color: #6AB5E4; }
  .isPhone .list_news .item .link_right img {
    width: 100%;
    margin-left: 10%;
    margin-top: 37%;
    height: auto !important;
    position: relative;
    z-index: 2; }

.p-footer {
  background: #F1F2F2;
  padding-bottom: 2rem;
  font-size: 1.5rem; }
  .isMobile .p-footer {
    font-size: 1.2rem; }
  .p-footer .container {
    position: relative; }
    .p-footer .container .button_top {
      position: absolute;
      right: 0;
      top: 0; }
  .p-footer .logo_footer {
    margin-top: 6rem; }
  .p-footer .list_libs {
    margin-top: 4rem;
    margin-bottom: 6rem; }
    .isMobile .p-footer .list_libs {
      margin-top: 2em;
      margin-bottom: 2em; }
    .p-footer .list_libs a {
      text-decoration: none;
      outline: none;
      text-transform: uppercase;
      color: #00559D;
      font-weight: 500;
      font-size: 1.1em; }
    .p-footer .list_libs > *:last-child {
      text-align: right; }
    .p-footer .list_libs > *:nth-child(2) {
      text-align: center; }
    .isMobile .p-footer .list_libs > * {
      text-align: left; }
  .p-footer .list_col_ft .col_tt {
    text-transform: uppercase;
    color: #00559D;
    font-weight: 700;
    font-size: 1.3em; }
  .p-footer .list_col_ft .link_ft {
    margin-top: 1em;
    text-transform: capitalize; }
    .p-footer .list_col_ft .link_ft p {
      margin-bottom: 0.2em; }
    .p-footer .list_col_ft .link_ft a {
      color: #666;
      font-size: 1.1em; }
      .p-footer .list_col_ft .link_ft a img {
        margin-right: 16px; }
  .p-footer .copyright {
    margin-top: 1rem;
    color: #00559D; }
    .p-footer .copyright .cols2 {
      text-align: right; }
      .isMobile .p-footer .copyright .cols2 {
        text-align: center;
        margin-top: 1em; }
    .p-footer .copyright .txt {
      position: relative;
      top: 20px;
      font-weight: 500;
      font-size: 1.1em; }
      .isMobile .p-footer .copyright .txt {
        top: 0; }

.modal_event_home {
  background-color: #C3E8F3 !important; }
  .modal_event_home__inner {
    color: #000000;
    font-size: 1.3em;
    padding: 1em; }

.isMobile .hide-mobile {
  display: none !important; }

.isDesktop .only-show-mobile {
  display: none  !important; }

.isPhone .hide-phone {
  display: none !important; }

.isDesktop .only-show-phone {
  display: none !important; }

.isTablet .only-show-phone {
  display: none !important; }
