//control

.nav-tabs {
    border-bottom: none;
    font-size: 1.1em;
    width: auto;
    min-width: 50%;
    padding-left: 2%;
    float: right;
    @include mdevice(mobile) {
      font-size: 0.9em;
      padding-left: 0;
    }

    @include mdevice(mobile) {
      float: none;
      width: 100%;
    }
    li {
        &+li{
            &:before {
                content: '|';
                display: inline-block;
                color: #eee;
                float: left;
                margin-top: 12px;
                opacity: .8;
                  @include mdevice(mobile){
                    margin-top: 9px;
                  }
            }
        }
        a {
            border: none !important;
            color: #fff;
            background-color: transparent !important;
            font-size: 1.2em;
            padding-left: 8px;
            padding-right: 8px;
            @include mdevice(mobile) {
              padding-left: 6px;
              padding-right: 6px;
              font-size: 1em;
            }

            &:focus{
                color: #fff;
            }
        }
&:first-child{
    a{
        padding-left: 0;
    }
}
        &.active {
            a {
                color: $site-color-1 !important;
            }
        }
    }
}

.owl-carousel .owl-nav{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    margin-top: -15px;
    pointer-events: none;
    opacity: .8;

    .owl-next{
        position: absolute;
        right: -16px;
        width: 40px;
        height: 40px;
        background-image: url(../images/next.png);
        background-size: 100% 100%;
        font-size: 0;
        pointer-events: auto;
    }
    .owl-prev{
        position: absolute;
        left: -16px;
        width: 40px;
        height: 40px;
        background-image: url(../images/prev.png);
        background-size: 100% 100%;
        font-size: 0;
        pointer-events: auto;
    }

    @include mdevice(mobile) {
        .owl-prev, .owl-next{
            width: 40px;
            height: 40px;
        }
    }

}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev{

}

.my_btn_3 {
  display: inline-block;
  background-color: $site-color-2;
  color: $site-color-3;
  padding: 0.3em 1.3em;
  font-size: 1.4em;
  text-transform: lowercase;
  text-decoration: none;
  outline: none;
  text-align: left;
  font-weight: 500;
  text-decoration: none !important;
  cursor: pointer;


  &__inner{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  img {
    height: 25px;
    margin-left: 10px;
  }
}
